<body background="../../assets/icon/YAVIRAC.jpg">

  <div class="selec">
    <div align="center">
      <div class="container">
        <mat-form-field>
          <mat-label>Seleccionar</mat-label>
          <mat-select disableRipple [(ngModel)]="tablaSeleccionada" (selectionChange)="verDatos()">
            <mat-option>ninguno</mat-option>
            <mat-option *ngFor="let catalogo of listaCatalogos;let i = index " value={{i}}>{{catalogo.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        {{tablaSeleccionada}}
      </div>
    </div>
  </div>

  <div class="cuer">
    <div *ngIf="verTabla" class="mat-elevation-z8">

      <div align="right">

        <button mat-button (click)="verPdf()"><img src="../../assets/icon/PDF.png"></button>

      </div>

      <div>
        <mat-form-field>
          <input matInput (keyup)="buscar($event.target.value)" placeholder="Buscar">
        </mat-form-field>
      </div>


      <!--insertar nuevas materias-->
      <form>
        <input [(ngModel)]="asignaturas.nombre" name="nombre" placeholder="Nombre de la Asignatura">
        <div>
          <div for="choose"> Carrera </div>
          <div for="choose">
            <select id="choose" [(ngModel)]="asignaturas.codigo_carrera" name="codigo_carrera" class="form-control">
              <option value="1"> Desarrollo de Software </option>
              <option value="2"> Gastronomia </option>
              <option value="3"> Marketing </option>
              <option value="4"> Diseño de Modas </option>
              <option value="5"> Guianza Turistica </option>
            </select>
          </div>
        </div>
        <div>
          <div for="choose"> Malla </div>
          <div for="choose">
            <select id="choose" [(ngModel)]="asignaturas.id_malla" name="id_malla" class="form-control">
              <option value="1"> Malla1 </option>
              <option value="2"> Malla2 </option>
            </select>
          </div>
        </div>
        <div>
          <div for="choose"> Semestre </div>
          <div for="choose">
            <select id="choose" [(ngModel)]="asignaturas.cod_semestre" name="cod_semestre" class="form-control">
              <option value="1"> Primero </option>
              <option value="2"> Segundo </option>
              <option value="3"> Tercero </option>
              <option value="4"> Cuarto </option>
              <option value="5"> Quinto </option>
            </select>
          </div>
        </div>
      </form>
      
    
      
      <button type="button"><a (click)="post(asignaturas)">GUARDAR</a></button>




      <table mat-table [dataSource]="dataSource">

        <ng-container *ngFor="let columna of nombreColumnas" matColumnDef="{{columna}}">
          <th mat-header-cell *matHeaderCellDef> {{columna}} </th>
          <td mat-cell *matCellDef="let element"> {{element[columna]}} </td>
        </ng-container>

        <ng-container matColumnDef="star" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>more_vert</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nombreColumnas"></tr>
        <tr mat-row *matRowDef="let row; columns: nombreColumnas;" class="example-element-row"
          (click)="openDialog(row)">
        </tr>

      </table>

      <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

</body>